@import "variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}

@media (max-width: 650px) {
  .header .container {
    flex-wrap: wrap;
  }
  .header .container a {
    min-width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .header__logo {
    justify-content: center;
  }
  .header__cart {
    display: flex;
    min-width: 100%;
    a {
      display: flex;
      min-width: 100%;
      justify-content: center;
    }
  }
}
